*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111827;
    color:#ffffff;
}


.login-body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#1f2937;
    padding:40px;
    border-radius:18px;
    width:350px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.35);
}

.container h1{
    margin-bottom:25px;
    font-size:28px;
}

input{
    width:100%;
    padding:14px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#374151;
    color:white;
    margin-bottom:18px;
    font-size:16px;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#3b82f6;
    color:white;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    background:#2563eb;
    transform:translateY(-2px);
}

.topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 40px;
    background:#1f2937;
    flex-wrap:wrap;
    gap:15px;
}

.topo h2{
    font-size:22px;
}


.game-board{
    display:grid;
    grid-template-columns:repeat(4,140px);
    gap:18px;
    justify-content:center;
    padding:40px 20px;
}


.card{
    width:140px;
    height:140px;
    position:relative;
    transform-style:preserve-3d;
    transition:0.5s;
    cursor:pointer;
}

.card.flip{
    transform:rotateY(180deg);
}

.front,
.back{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:16px;
    backface-visibility:hidden;
}

.back{
    background:#374151;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    font-weight:bold;
}

.front{
    transform:rotateY(180deg);
    overflow:hidden;
}

.front img{
    width:100%;
    height:100%;
    object-fit:cover;
}

@media(max-width:768px){

    .game-board{
        grid-template-columns:repeat(4,80px);
        gap:12px;
    }

    .card{
        width:80px;
        height:80px;
    }

    .topo{
        justify-content:center;
        text-align:center;
    }
}
#timer{
    color:#60a5fa;
    font-weight:bold;
    font-size:20px;
}